@charset "utf-8";
/* CSS Document */
*{margin: 0; padding: 0;}

h1{
text-align: center;
font-family:Segoe UI;
margin: 10px;
}

.logo{
	width:15%;
	float: left;
	margin-top: 12px;
}
body{
	width: 100%;
	
	background:#FFFFFF; 
	height: 100%;
}
header{
	width: 100%;
	overflow: hidden;
	background:#AFB7F8;
	margin-bottom:20px;
	float: left;
}
.contenido p{
	margin: 20px;
	text-align:justify;
	float: left;
	font-family:Segoe UI;
	font-size: 15px;
	float: right;
}
.wrapper{
	width:70%;
	max-width:70%;
	margin: auto;
	overflow: hidden;
	
}

header nav{
	float: right;
	line-height: 100px;
}

header nav a{
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease ;

}
header nav a:hover {
	background:#000000;
	border-radius: 50px;
}
.slider{
	width: 100%;
	height: auto;
	margin: 50px auto 0;
	overflow: hidden;
	animation:slide 10s infinite alternate ease-in-out;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 100%;	
}
.slider li{
	list-style: none;
	width: 80%;
}
.slider img{
	width: 110%;
	float: left;

}
@keyframes slide{
	0%{margin-left: 0;}
	10%{margin-left: 0;}
	
	15%{margin-left: 18%;}
	25%{margin-left: 18%;}
	
	30%{margin-left: 36%;}
	40%{margin-left: 36%;}
	
	45%{margin-left: 54%;}
	55%{margin-left: 54%;}
	
	60%{margin-left: 72%;}
	70%{margin-left: 72%;}
	
	75%{margin-left: 90%;}
	85%{margin-left: 90%;}
	
	90%{margin-left: 118%;}
	100%{margin-left: 118%;}
	
}
.video{
	width: 100%;
	float: left;
	height: 100%;
	
}
main{
	float: left;
	width:80%;
	background:#E5E5E5;
	height: auto;
	
}

aside{
	float: left;
	width: 30%;
	background: white;

}
footer{
	float: left;
	width: 100%;
	height:0 auto;
	background:#41B5A9;
	margin: 0;
}
#redes{
	background: #000000;
	list-style-type: none;
	text-align: center;
	margin: 0;
	height: 120px;
}
.centrar{
	display: inline-flex;
	width: 5%;
	padding: 10px;
}
.img{
	
	width: 100%;
	
}

.alinear{
	
	text-align:center;
	color:white;
	
}
.yel{
	float: right;

	padding: 5px;
}
.color{
	color: darkred;
	text-align: center;
}
.parrafo{
	margin: 20px;
	text-align:justify;
	font-family:Segoe UI;
	font-size: 15px;
}
h2{
	text-align:center;
	font-family:Segoe UI;
	margin: 20px;
	color: darkred;
}
h3{
	text-align:justify;
	font-family:Segoe UI;
	margin: 10px;
	font-size: 15px;
	
}
.chori{
	margin: 15px;
	text-align:center;
	font-family:Segoe UI;
	font-size: 15px;
}
.sayan{
	margin: 10px;
	text-align:justify;
	font-family:Segoe UI;
	font-size: 15px;
}
.wix{
	margin: 5px;
	
}
.itachi{
	width: 250px;
	
	margin: 10px;
	text-align:center;
	float: left;
}
.kisame{
	margin: 10px;
	text-align:justify;
	font-family:Segoe UI;
	font-size: 15px;
}
.deidara{
	margin: 10px;
	text-align:justify;
	font-family:Segoe UI;
	font-size: 15px;
}


